<!DOCTYPE html>
<html>
  <head>
    <title>ARRAIÁ PROVECTO</title>
    <link rel="icon" type="image/x-icon" href="/images/fav_sj.ico">
    <link rel="icon" type="image/png" href="/images/fav_sj.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="canonical" href="/stylesheets/heroes.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
      html, body {
          height: 100%;
          margin: 0;
          overflow: hidden;
      }

      body {
          background-image: url('/images/wall_sj.jpg'); /* Substitua pelo caminho da sua imagem */
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: white;
      }

      .img-small {
          width: 60%; /* ou qualquer valor desejado */
          height: auto;
      }
    </style>
  </head>
  <body>

    <main>
      <div class="px-4 py-5 my-5 text-center">
        <img src="/images/Bandeiras.png" class="img-small" alt="Arraiá Provecto">
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg" href="/add" role="button">NOTAS FUNDAMENTAL</a>
            <a class="btn btn-primary btn-lg" href="/addm" role="button">NOTAS MÉDIO</a>
          </div>
        </div>
      </div>
      </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  </body>
</html>
